<h1><%= "#{@room.user.name}'s #{@room.description}"%></h1>
<div>
<h2>Dimensions</h2>
  <ul>
    <li><%= "Width: #{@room.width}" %></li>
    <li><%= "Length: #{@room.depth}" %></li>
  </ul>
</div>
<div>
  <h2>Furniture</h2>
  <ul>
    <% @room.furniture_pieces.each do |piece| %>
      <li><%= link_to piece.furniture.description, furniture_path(piece.furniture) %></li>
    <% end %>
  </ul>
</div>