<h1>Roomstyler Furniture Market</h1><br>
<h2>Trending today:</h2>
<ul>
  <% @most_popular.each do |item| %>
    <li><%= item.description %></li>
  <% end %>
</ul>
<ul>
<% @furnitures.each do |furniture| %>
  <li><%= link_to furniture.description, furniture_path(furniture) %></li>
<% end %>
</ul>

<%= link_to "Create new furniture", new_furniture_path if current_user.designer %>